@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(cool-background.png) no-repeat fixed center;
    background-size: cover;
}
#button{
    font-family: 'Sora';
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(160, 127, 252, 0.726);
    border: none;
    outline: none;
    box-shadow: 3px 3px 3px 3px rgba(219, 70, 199, 0.726);
    font-size: 1rem;
    font-weight: 300;
    color:#fff;
}
button:hover {
    background: linear-gradient(to bottom, #7969b3, #6567db);
  }
  
  button:active {
    transform: translateY(3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
  }